<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Phantasy Books In Ukrainian</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/update/" role="button">Update data from resources</a></li>
        </ul>
        <ul>
          <li><a href="/get_avialable/" role="button">Get avialable books</a></li>
        </ul>
        <ul>
          <li><a href="/sort_by_price/" role="button">Get sorted by price</a></li>
        </ul>
        <ul>
          <li><a href="/special_price/" role="button">Get books with special price</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>